table, th, td {
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    overflow: hidden;
    white-space:nowrap;
}

.log_entry {
    text-align: left;
}

.cache_table {
    table-layout: fixed;
    width: 70%;
}

div {
    font-family: Arial;
}

a {
    text-decoration: none;
}

th {
    font-weight: bold;
    font-style: italic;
    background-color: lightgray;
}

.configuration_column_1 {
    font-weight: bold;
    text-align: left;
}